header {
    background-color: #BBBBBB;
    padding: 20px 0px; /* espaçamento interno 20px pra cima/baixo e 0 pra direita/esquerda*/
}

.caixa {
    position: relative; 
    width: 940px; /* largura fixa padrão da web */
    margin: 0 auto; /* para alinhar a div ao centro, auto para direita/esquerda calcular automático e 0 para cima/baixo*/
}

nav {
    position: absolute; /*posicionamento absoluto em relação a div caixa */
    top: 110px;
    right: 0;
}

nav li {
    display: inline-block;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

