.titulo-principal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
    height: 250px;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
    /* height: 150px; (altura do elemento)
    border: 10px solid #000000; (criar uma borda sólida na cor preta)
    padding: 10px; (espaçamento interno, da borda do elemento pra dentro)
    margin: 40px; (espaçamento externo, da borda do elemento pra fora) */
}

p {
    text-align: center;  
    }

#missao {
    font-size: 20px;
}
    
em strong {
    color: #FF0000;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
}

.itens {
    font-style: italic;
}

.imgbeneficios {
    width: 50%;
}